.attention{
  Color: purple;
  font-weight: bold;
}
img{
  width: 300px;
  height: auto;
}
.column {
  width: 300px;
  float: left;
}
body {
  font-family: cambria;
  color: grey;
}
.body h2 {
  font-style: italic;
  color: hotpink;
}